{% extends 'base.jinja2' %}
{% block content %}
    <div class="page-header">
        <h1>{% if alert.active == False %} Inactive {% endif %}
            Alert<small> for {{ alert.item.name }}</small></h1>
    </div>
    <p>
    Will alert if price drops below <strong>{{ '%0.2f' | format(alert.price_limit|float) }}</strong><br>
    Last price found was <strong>{{ alert.item.price }}</strong><br>
    Last checked on <strong>{{ alert.get_last_checked_local().strftime('%d-%m-%Y %H:%M:%S %Z') }}</strong>
    </p>
    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-default" href="{{ alert.item.url }}" role="button">Visit Site</a>

            {% if alert.active == True %}
            <a class="btn btn-danger"
               href="{{ url_for('alerts.deactivate_alert', alert_id=alert._id) }}"
               role="button">Deactivate Alert</a>
            {% else %}
            <a class="btn btn-success"
               href="{{ url_for('alerts.activate_alert', alert_id=alert._id) }}"
               role="button">Activate Alert</a>

            <a class="btn btn-danger"
               href="{{ url_for('alerts.delete_alert', alert_id=alert._id) }}"
               role="button">Delete Alert</a>
            {% endif %}
            <a class="btn btn-warning" href="{{ url_for('alerts.check_price', alert_id = alert._id) }}"
               role="button">Check alert price</a>
            <a class="btn btn-info" href="{{ url_for('alerts.edit_alert', alert_id = alert._id) }}"
               role="button">Edit alert price</a>
        </div>
    </div>

{% endblock %}